{% extends "universalLayout.html" %}
{% block content %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v22.0&appId=1108164017698213"></script>
    <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61574813890604" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/profile.php?id=61574813890604" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=61574813890604">Lusabuy</a></blockquote></div>
{% endblock content %}